C:/Users/sjyim/Documents/GitHub/chabak_front/src/chatbot/ner/vocab/vectors filter=lfs diff=lfs merge=lfs -text
C:/Users/sjyim/Documents/GitHub/chabak_front/src/chatbot/ner/vocab/vectors filter=lfs diff=lfs merge=lfs -text
C:/Users/sjyim/Documents/GitHub/chabak_front/src/chatbot/ner/vocab/vectors filter=lfs diff=lfs merge=lfs -text
